<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name ="PGContext"
			 providerName ="System.Data.ProviderName"
			 connectionString = "Host=127.0.0.1; Port = 5432; Database = pgvpn; User Id = postgres; Password = dda;"
			/>
	</connectionStrings>
</configuration>